PORT=4896
DATABASE_URL="file:./prisma/dev.db"
SESSION_SECRET=""
# FILES_DIRECTORY="/mnt/share/folder"
SIGNATURE_EXPIRY=3600

# Maximum allowed size for bulk downloads in bytes (default: 1 GB)
MAX_BULK_SIZE_BYTES=1073741824 # 1 GB
