@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

* {
  font-family: 'JetBrains Mono', monospace;
}

body {
  background: #000;
  color: #fff;
}
