@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-mono: "JetBrains Mono", "monospace";
}

* {
  @apply font-mono;
}


:root {
  --ui-primary: white;
}

body {
  background: #000;
  color: #fff;
}
